.scroll{

    height: 600px;
    width: 900px;
    overflow: hidden;
    overflow: scroll;
}
.scroll2{
    width: auto;
    height: 600px;
    overflow: scroll;
}
.scroll::-webkit-scrollbar{
    width: 7px;

}

.scroll::-webkit-scrollbar-thumb{
   background: black;
}

.scroll2::-webkit-scrollbar{
    width: 5px;

}

.scroll2::-webkit-scrollbar-thumb{
    background: black;
}
